@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}


main{
    background-color: var(--VeryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Overpass",sans-serif;
}

.card{
    background-color: var(--DarkBlue);
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    max-width: 350px;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.circle{
    background-color: var(--DarkBlue);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle img{
    max-width: 15px;
    max-height: 15px;
}

h1{
    color: var(--White);
    font-size: 1.7rem;
    margin: 1rem 0;
}

p{
    color: var(--LightGrey);
    font-size: .9rem;
    line-height: 1.3rem;
}

.rating{
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.rating input[type="radio"]{
    position: absolute;
    pointer-events: none;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}


.rating input[type="radio"] + label{
    color: var(--MediumGrey);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--DarkBlue);
    border-radius: 50%;
    padding-top: .2rem;
    cursor: pointer;
    border: none;
    font-size: .9rem;
}

.rating input[type="radio"]:hover + label{
    background-color: var(--LightGrey);
    color: var(--White);
}

.rating input[type="radio"]:checked + label{
    background-color: var(--Orange);
    color: var(--White);
}


.card-submit{
    cursor: pointer;
    border: 2rem;
    margin-top: 1.5rem;
    height: 2.8rem;
    background-color: var(--Orange);
    color: var(--White);
    letter-spacing: .2rem;
    border: none;
    border-radius: 2rem;
    font-weight: 00;
}

.card-submit:hover{
    background-color: var(--White);
    color: var(--Orange);
}



/* thank you part css s*/
.thank-you{
    height: auto;
    max-width: 9.5rem;
    display: block;
    /* border: 2px solid red; */
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.rating-txt{
    background-color: var(--DarkBlue);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center ;
    padding: .8rem;
    border-radius: 2rem;
    color: var(--Orange);
    line-height: 10px;
}

.selection-disp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.4rem;
}


h2{
    text-align: center;
    margin: .8rem 0;
    color: var(--White);

}

.appre{
    text-align: center;
    margin-bottom: .9rem;
}

.hidden{
    display: none;
}